.container{
    text-align: center;
    background-color: lightsteelblue;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 12px;
    margin: auto;
}
.box{
    height: 100px;
    width: 100px;
    background-color: coral;
    margin: 10px;
    line-height: 100px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}